:host{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,rgb(43,53,80),rgb(18,32,51),rgb(14,29,46),rgb(38,52,64));
    background-size: cover;
    top: 0;
    left: 0;
}
.paragraph{
    position: absolute;
    top: 20vh;
    left: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-content: center;
    width: 40vw;
    height: 40vh;
}
.paragraph span{
   font-family: 'Roboto Mono', monospace;
   font-size: 1.4rem;
   display: flex;
   float: left;
   padding: 3px;
   color: white;
   height: 10%;
   transition: all .1s;
   overflow: hidden;
}
#firstimage{
    position: fixed;
    margin-left: 39vw;
    margin-top: 4px;
    width: 21%;
    height:52%;
}
#secondimage{
    float: right;
    position: absolute;
    margin-top: 4vw;
    margin-left: 25vw;
    width: 16%;
    height: 40%;
}
#thirdimage{
    float: right;
    clear: right;
    position: absolute;
    margin-top: 23vw;
    margin-left: 35vw;
    width:30%;
    height: 40%;
}
#fourthimage{
    float: right;
    position: absolute;
    width:17%;
    height: 46%;
    margin-top: 49vh;
    margin-left: 22vw;
}
h1{
    float: left;
    font-family: 'Bree Serif';
    font-size: 4.5rem;
    width: 15%;
    margin-left: 20vw;
    margin-top: 20px;
    color: rgb(189, 60, 28);
}
span:hover{
    transform: rotateY(180deg);
}
