<section>
    <h1>About</h1>
    <div id="imagediv">
    <img id="firstimage" src="../assets/images/resurgencephotos/DSC_0069.JPG" alt="">
    <img id="thirdimage" src="../assets/images/resurgencephotos/DSC_0417.JPG" alt="">
    <img id="secondimage" src="../assets/images/resurgencephotos/DSC_0098.JPG" alt="">
    <img id="fourthimage" src="../assets/images/resurgencephotos/DSC_0432.JPG" alt="">
    <div class="innerscroll paragraph">
        <div>
                <span class="text" *ngFor="let item of aboutlist">
                        {{item}}
                </span>
        </div>
    </div>
</div>
</section>
