<h1 class="h1">Formal Event</h1>
<section class="eventFormal">
    <div class="arrowleft" (click)="moveImage3(alk)">
        <img src="../../assets/images/icons/left-arrow.png" alt="png"/>
    </div>
    <div class="imageWrapper">
    <div class="imageFixed" #alk>
        <div *ngFor="let a of list.slice(0,8)" class="event" [attr.data-text]="a">
            <img class="img" src="../../assets/images/dummy/index3.jpg" alt="">
        </div>
        </div>
    </div>
    <div class="arrowright" (click)="moveImage1(alk)">
        <img src="../../assets/images/icons/rightarrow.png" />
    </div>
</section>

<h1 class="h1">Informal Event</h1>

<section class="eventInformal">
    <div class="arrowleft" (click)="moveImage4(sar)">
        <img src="../../assets/images/icons/left-arrow.png" alt="">
    </div>

    <div class="imageWrapper">
        <div class="imageFixed" #sar>
            <div *ngFor="let a of list.slice(0,9)"  class="event" [attr.data-text]="a">
                <img class="img" src="../../assets/images/dummy/index3.jpg" alt="">
            </div>
        </div>
    </div>
    <div (click)="moveImage2(sar)" class="arrowright">
        <img src="../../assets/images/icons/rightarrow.png" alt="">
    </div>
</section>