:host{
    display: block;
    position: fixed;
    background-image: linear-gradient(to right,#181818,#303030,#484848,#686868);
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
}
 
.eventFormal {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.event{
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;  
}
.event:before {
  content: attr(data-text);
  text-align: center;
  color: black;
  position: absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  transform: rotateX(90deg);
  transition: all 1s;
}

.event:hover::before {
  transform: rotateX(0deg);
}

.eventInformal {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.h1 {
  margin-left: 100px;
  font-size: 2rem;
  font-family: 'Lato';
  color: white;
  display: inline;
  border-bottom: 1px solid white;
}
.h1:first-child{
  position: absolute;
  
}

.arrowleft{
  margin-top: 2%;
  margin-left: 10%;
  transform: scale(.45);
}
.arrowright{
  margin-right: 8%;
  margin-top: 2%;
  transform: scale(.45);
}
.imageFixed { 
  width: 80%;
  display: flex;
}

.img {
  width: 255px;
  height: 210px;
  border-radius: 5%;
}

.imageWrapper {
  width: 60%;
  overflow: hidden;
}

@media screen and (max-width: 481px){
  .h1{
    font-size: 1rem;
  }
  .arrowleft, .arrowright {
    transform: scale(.3);
  }
  .arrowleft{
    margin-left: -10%;
  }
  .arrowright {
    margin-right: -10%;
  }
  .event {
    width: 120%;
  }
  .img {
    width: 150px;
    height: 150px;
    border-radius: 0px;
  }
}