:host{
    display:block;
    background-color: #14232b;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
  } 
  .containergallery1{
    display: table;
    perspective: 2000px;
    position: absolute;
    margin-left: 20vw;
    margin-top: 1vh;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
  }
  .containergallery2{
    display: table;
    perspective: 2000px;
    position: absolute;
    margin-left: 50vw;
    margin-top: 1vh;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    transform: translateY(-213vh);
  }
  img{
    display:table-cell;
    vertical-align:middle;
    transform: rotate(-90deg);
    height: 43vh;
    position: relative;  
    top: 30px; 
  }
  .innercontainer{
    box-sizing: border-box;
    height: 71vh;
  }
  .final{
    transform: rotate(-90deg) rotateX(0deg) rotateY(50deg);
  }
.container {
  height: 63vh;
  top: 40px;
  box-sizing: border-box;
  position: relative;
  display: flexbox;
  overflow: hidden;
}
.arrowright{
   transform:scale(.25);
   float: right;
   padding-right: 200px;
   padding-top: 50px;
}
.arrowleft{
  float: left;
  transform:scale(.25);
  padding-left: 150px;
  padding-top: 100px;
}
#heading{
  font-size: 3rem;
  font-family: 'Playfair Display SC';
  padding-left: 70px;
  margin-left: 20px;
  color: white;
}