:host{
    display:block;
    background-color: #00ffff;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
  } 
h1{
    color: white;
    text-align: center;
    font-size: 6rem;
    font-family: 'Baloo Chettan', cursive;
    text-shadow: 13px 13px rgba(0,0,0,.2);
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-content: center;
    animation-name: movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes movement{
    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(-8deg);
    }
    50%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(8deg);
    }
  }
  h3{
    font-size: 2rem;
    float: right;
    font-family: 'Noto Sans',sans-serif;
    color: white;
    position: fixed;
    bottom: 7vh;
    right: 5vw;
  }