:host{
    display:block;
    background-color: #14232b;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
  } 
  .containergallery1{
    display: table;
    perspective: 2000px;
    position: absolute;
    margin-left: 27vw;
    margin-top: 1vh;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
  }
  .containergallery2{
    display: table;
    perspective: 2000px;
    position: absolute;
    margin-left: 55vw;
    margin-top: 1vh;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    transform: translateY(-213vh);
  }
  .galleryimage{
    display:table-cell;
    vertical-align:middle;
    height: 58vh;
    width: 20vw;
    position: relative;   
  }
  .innercontainer{
    box-sizing: border-box;
    height: 71vh;
  }
  .final{
    transform:rotateX(0deg) rotateY(50deg);
  }
.container {
  height: 63vh;
  top: 40px;
  box-sizing: border-box;
  position: relative;
  display: flexbox;
  overflow: hidden;
}
.arrowright{
   transform:scale(.4) rotate(-90deg);
   float: right;
   margin-top: 250px;
   margin-right: 200px;
}
.arrowleft{
  float: left;
  transform:scale(.4) rotate(-90deg);
  margin-top: 10px;
  margin-left: 230px;

}
#heading{
  font-size: 3rem;
  font-family: 'Playfair Display SC';
  padding-left: 70px;
  margin-left: 20px;
  color: white;
}