:host{
    display: flex;
    position: fixed;
    height: 100vh;
    background-image: url('/assets/images/background/b5.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top:0;
    left:0;
    text-align: center;
}
h1{
    font-size: 6rem;
    position: fixed;
    margin-top: 200px;
    color: rgb(169, 238, 79);
    font-family: 'Caveat Brush','Margarine',cursive;
    text-align: center;
    margin-left: 420px;
    letter-spacing: 3px;

}
h4{
    position: fixed;
    font-size: 1.5rem;
    margin-top: 350px;
    margin-left: 510px;
    color: white;
    height: 10%;
    font-family: 'Lato',sans-serif;
}
h5{
    position: fixed;
    font-size: 1.4rem;
    height: 10%;
    color: white;
    text-align: center;
    margin-top: 170px;
    margin-left: 600px;
}
h2{
    text-align: center;
    height: 5%;
    padding: 5px 10px;
    border-radius: 10%;
    font-family: 'Lato',sans-serif;
    color: white;
    font-size: 1.2rem;
    border: 1px solid rgba(255,255,255,.6);
    margin-top: 38%;
    margin-left: 46%;
}
h2:hover{
    cursor: pointer;
}
img{
    position: absolute;
    transform: scale(.6);
    top: -15%;
    left: -15%; 
    animation-name: rotate ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    0%{
        transform: scale(.6) rotate(0deg);
    }
    100%{
        transform: scale(.6) rotate(360deg);
    }
}

@media screen and (max-width: 481px){
    h1 {
        font-size: 2.5rem;
        margin-left: 50px;
        margin-top: 170px;
    }
    img {
        transform: scale(.3);
        top:-40%;
        left: -70%;
        animation-name: rotate2 ;
    }
    @keyframes rotate2{
        0%{
            transform: scale(.3) rotate(0deg);
        }
        100%{
            transform: scale(.3) rotate(360deg);
        }
    }
    h2{
        margin-top: 120%;
        font-size: .7rem;
        height: 4%;
        width: 10%;
    }
    h5{
        margin-top: 140px;
        margin-left: 120px;
        font-size: .8rem;
    }
    h4 {
        font-size: .9rem;
        margin-top: 230px;
        margin-left: 70px;
    }
}